<div class="header">
  <div class="user-logo" *ngIf="isAuth">
    <img class="user-avatar" [src]="currentUser.photo_200"/>
  </div>
  <span class="user_name" *ngIf="isAuth">{{ currentUser.first_name }} {{ currentUser.last_name }}</span>
  <button *ngIf="isAuth"  buildclass="logout" (click)="logout()">выйти</button>
</div>
<div class="friend-list" *ngIf="isAuth">
  <div>
    <ul style="list-style-type: none; padding: 0; margin: 0;">
      <li class="friend-list-li" *ngFor="let friend of currentUser.friends">
        <div class="current_friend">
          <img class="friend-avatar" [src]="friend.photo_100">
          <span class="frined_name">{{ friend.first_name }} {{ friend.last_name }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!isAuth" style="display: flex; justify-content: center; align-items: center; height: 100px;">
  <button (click)="auth()" class="autorize">авторизоваться</button>
</div>
